* {
    margin: 0;
    padding: 0;
}

header,
main,
body,
footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}

#container {
    width: 50%;
    margin: 1em auto;
}

header {
    border-radius: 10px;
    text-align: center;
    background-color: #603140;
    height: 75px;
}

.name-header {
    margin: auto;
    padding-top: 14px;
    color: white;
    font-size: 2.5em;
}

img {
    max-width: 120px;
    float: right;
    padding-right: 10px;
    margin-top: -48px;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));
}

main {
    padding-left: 10px;
}

ul {
    margin-left: 30px;
    padding-top: 5px;
}

h2 {
    margin: auto;
    padding-top: 30px;
}

footer {
    font-size: 14px;
}

.footer-info {
    display: block;
}

.footer-info a:visited {
    color: white;
}

.last-updated-info {
    display: block;
}

.copyright-style {
    color: white;
    padding-top: 12px;
}

.last-update-style {
    color: #FF9D5C;
    font-size: 13px;
}

footer {
    border-radius: 10px;
    text-align: center;
    background-color: #603140;
    height: 55px;
    margin-top: 30px;
}