body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif;
    }

    .active {
        background-color: #f26d4c;
    }

    #title {
        text-decoration: none;
    }

    #videos-title {
        text-align: center;
        margin-top: 6rem;
        font-weight: bold;
    }

    #dispensations-title {
        text-align: center;
        margin-top: 6rem;
        font-weight: bold;

    }

    #summary-title {
        text-align: center;
        margin-top: 6rem;
        font-weight: bold;
    }

    #zero {
        background-color: #f26d4c;
        box-shadow: -1px 1px 20px 2px #555;
        border-radius: 10px;
        margin: 20px;
    }

    #one {
        background-color: #f29e4c;
        box-shadow: -1px 1px 20px 2px #555;
        border-radius: 10px;
        margin: 20px;
    }

    #two {
        background-color: #f1c453;
        box-shadow: -1px 1px 20px 2px #555;
        border-radius: 10px;
        margin: 20px;
    }

    #three {
        background-color: #efea5a;
        box-shadow: -1px 1px 20px 2px #555;
        border-radius: 10px;
        margin: 20px;
    }

    #four {
        background-color: #b9e769;
        box-shadow: -1px 1px 20px 2px #555;
        border-radius: 10px;
        margin: 20px;
    }

    #five {
        background-color: #83e377;
        box-shadow: -1px 1px 20px 2px #555;
        border-radius: 10px;
        margin: 20px;
    }

    #six {
        background-color: #16db93;
        box-shadow: -1px 1px 20px 2px #555;
        border-radius: 10px;
        margin: 20px;
    }

    #seven {
        background-color: #0db39e;
        box-shadow: -1px 1px 20px 2px #555;
        border-radius: 10px;
        margin: 20px;
    }

    #eight {
        background-color: #048ba8;
        box-shadow: -1px 1px 20px 2px #555;
        border-radius: 10px;
        margin: 20px;
    }

    #nine {
        background-color: #2c699a;
        box-shadow: -1px 1px 20px 2px #555;
        border-radius: 10px;
        margin: 20px;
    }

    #zero-name {
        color: black;
        text-decoration: none;
    }

    #zero-name:hover {
        background-color: #f26d4c;
    }

    #one-name {
        color: black;
        text-decoration: none;
    }

    #one-name:hover {
        background-color: #f29e4c;
    }

    #two-name {
        color: black;
        text-decoration: none;
    }

    #two-name:hover {
        background-color: #f1c453;
    }

    #three-name {
        color: black;
        text-decoration: none;
    }

    #three-name:hover {
        background-color: #efea5a;
    }

    #four-name {
        color: black;
        text-decoration: none;
    }

    #four-name:hover {
        background-color: #b9e769;
    }

    #five-name {
        color: black;
        text-decoration: none;
    }

    #five-name:hover {
        background-color: #83e377;
    }

    #six-name {
        color: black;
        text-decoration: none;
    }

    #six-name:hover {
        background-color: #16db93;
    }

    #seven-name {
        color: black;
        text-decoration: none;
    }

    #seven-name:hover {
        background-color: #0db39e;
    }

    #eight-name {
        color: black;
        text-decoration: none;
    }

    #eight-name:hover {
        background-color: #048Ba8;
    }

    #nine-name {
        color: black;
        text-decoration: none;
    }

    .ten-name {
        color: black;
        text-decoration: none;
    }

    .ten-name:hover {
        background-color: #555;
        color: white; 
    }

    .video-name {
        color: black;
        text-decoration: none; 
    }

    .video-name:hover {
        background-color: #555;
        color: white; 
    }

    #nine-name:hover {
        background-color: #2c699a;
    }

    #mySidebar {
        background-color: white;
    }

    #page-title {
        color: black;
        text-decoration: none;
        font-size: 26px;
    }

    #footer {
        background-color: white;
    }

    #banner-image {
        max-width: 100%;
        margin: 0 auto;
        padding: 1.5rem;
    }

    .adameve {
        float: left;
        margin-right: 16px;
        padding-bottom: 16px;
    }
    .enoch {
        float: right;
        margin-left: 16px;
        padding-bottom: 16px;
    }
    .abraham {
        float: left;
        margin-right: 16px;
        padding-bottom: 16px;
    }
    .moses {
        float: right;
        margin-left: 16px;
        padding-bottom: 16px;
    }
    .david {
        float: left;
        margin-right: 16px;
        padding-bottom: 16px;
    }

    .creation {
        float: right;
        margin-left: 16px;
        padding-bottom: 16px;
    }

    .christ {
        float: right;
        margin-left: 16px;
        padding-bottom: 16px;
    }

    .apostasy {
        float: left;
        margin-right: 16px;
        padding-bottom: 16px;
    }

    .smith {
        float: right;
        margin-left: 16px;
        padding-bottom: 16px; 
    }

    .temple {
        float: left;
        margin-right: 16px;
        padding-bottom: 16px;
    }
    
    #video-grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    iframe {
        width: 350px;
        height: 215px;
        box-shadow: 0 8px 16px 0 black;
        border-radius: 10px;
    }

    @media only screen and (min-width: 580px) {
        iframe {
            width: 560px;
            height: 315px;
        }

        #banner-image {
            border-radius: 10px;
            margin-top: 10px;
        }
    }

    @media only screen and (min-width: 1440px) {
        #video-grid {
            grid-template-columns: 1fr 1fr;
        }

        iframe {
            width: 530px;
            height: 315px;
        }

        #banner-image {
            border-radius: 10px;
            margin-top: 10px;
        }
    }

    .scriptures {
        text-decoration: underline;
    }