@media only screen and (min-width: 1025px) {
  #image-logo {
    max-width: 10%;
  }

  nav {
    height: 70px;
  }

  .navigation {
    margin-top: -2.7rem;
  }

  .navigation a:hover {
    background-color: #40d0c9;
    border-radius: 5px;
  }

  #nav .current:hover {
    text-decoration: underline 2px black;
  }

  #home-rental-us {
    margin-top: 20rem;
  }

  #scoots-paragraph {
    width: 500px;
  }

  #sun-island {
    display: block;
  }

  #home-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  #vehicle-type {
    justify-self: right;
    grid-column: 2/3;
  }

  #vehicle-model {
    grid-column: 3/4;
  }

  #home-rental-button {
    justify-self: left;
    grid-column: 4/5;
  }

  #home-rental-cards-title {
    margin-top: 4rem;
    text-align: center;
  }

  .home-card-title {
    margin-top: 2rem;
  }

  .home-rental-cards-hr-2 {
    margin: 0 auto;
    width: 360px;
  }

  #home-title {
    padding: 0;
    margin: 0;
    font-size: 100px;
    margin-top: 3rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 3rem;
  }

  .font-title {
    font-size: 120px;
  }

  #footer-item-1 {
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    margin: 0;
  }

  #footer-item-2 {
    grid-column: 2/3;
    justify-self: center;
  }

  .footer-contact {
    font-size: 16px;
  }

  #pin {
    margin: 0;
  }

  #phone {
    margin: 0;
    margin-top: 1rem;
  }

  #clock {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #footer-social {
    grid-column: 3/4;
    margin: 0;
    align-self: center;
    justify-self: center;
  }

  #gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1rem;
  }

  /*RENTALS PAGE CSS */

  #rental-info {
    margin-top: 14rem;
  }

  .accordion {
    height: 60px;
  }

  #rental-title {
    font-size: 260px;
    margin-top: 10%;
  }

  #rentals-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }


}