@media only screen and (min-width: 768px) {
    #image-logo {
        max-width: 15%;
    }

    nav {
        height: 65px;
        margin: 0 auto;
        max-width: 100%
    }

    #burger {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: -2.2rem;
    }

    .navigation li {
        display: block;
        /* change state in small view */
    }

    .navigation a {
        text-align: center;
    }

    .navigation a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: black;
        padding: .8rem;
    }

    #nav .current {
        text-decoration: underline 2px #40e0b0;
        color: black;
    }

    .navigation a:hover {
        background-color: #8dcaff;
    }

    #home-title {
        font-size: 50px;
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .font-title {
        font-size: 60px;
    }

    #cards-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #scooter-item {
        grid-column: 1/2;
    }

    #atv-item {
        grid-column: 2/3;
    }

    #jeep-item {
        grid-column: 3/4;
    }

    #footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #footer-item-1 {
        grid-column: 1/2;
        margin-top: 4rem;
    }

    #footer-item-2 {
        grid-column: 2/3;
    }

    .footer-contact {
        font-size: 16px;
    }

    #pin {
        margin: 0;
    }

    #phone {
        margin: 0;
        margin-top: 1rem;
    }

    #clock {
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #footer-social {
        grid-column: 3/4;
        margin-top: 5rem;
    }

    #form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #home-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    #vehicle-type {
        grid-column: 1/2;
        grid-row: 1;
    }

    #vehicle-model {
        grid-column: 2/3;
        grid-row: 1;
    }

    #home-rental-button {
        grid-column: 3/4;
        grid-row: 1;
        width: 190px;
    }

    #home-rental-us {
        text-align: left;
        margin-left: 1rem;
        margin-top: -1rem;
    }

    .home-rental-cards-hr-1 {
        margin-left: 1rem;
    }

    #home-paragraph {
        text-align: left;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .home-rental-cards-hr-2 {
        margin-left: 1rem;
        width: 560px;
    }

    #home-rental-cards-title {
        text-align: left;
        margin-left: 1rem;
        margin-top: 2rem;
        padding: 0;
    }

    #scooter-p {
        margin-bottom: 2rem;
    }

    .sidepanel {
        height: 120px; /* Specify a height */
        border-radius: 0px 5px 5px 0px;
      }
    
      .openbtn {
        height: 60px;
        width: 220px;
      }
      
      .openbtn:hover {
        background-color: white;
      }

}