@media only screen and (min-width: 960px) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
        padding: .6rem;
    }

    .navigation li:first-child {
        display: none;
    }

    header {
        grid-template-columns: 130px 1fr;
    }

    #image-logo {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .title {
        font-size: 3em;
        margin-top: 50px;
    }

    #motto {
        margin-top: 105px;
        padding-left: 3px;
    }

    main {
        max-width: 960px;
    }

    #main-footer {
        max-width: 960px;
        margin: 0 auto;
    }

    footer {
        max-width: 960px;
    }

    #gallery-footer {
        height: 3.5rem;
    }

    .hero-div {
        position: relative;
    }

    .weather-overlay {
        position: absolute;
        top: 40px;
        left: 40px;
        width: 250px;
    }

    #article-image {
        width: 400px;
        float: right;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 1rem;
    }

    .grid-item:hover {
        box-shadow: 0 0 28px #555;

    }

    form label.sbs {
        padding: .4rem 0;
    }

    form label.top input,
    form label.top select {
        width: 90%;
        max-width: 20rem;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #article {
        margin-top: 3rem;
        display: grid;
        grid-column: 1/2;
        background-color: #436CB1;
        margin-left: 1rem;
        border-radius: 5px;
        grid-template-columns: 30% 65%;
        grid-template-rows: 30px auto;
    }

    #calendar {
        display: grid;
        grid-column: 2/3;
        background-color: lightgray;
        margin-top: 3rem;
        border-radius: 5px;
        grid-template-rows: repeat(12, 1fr);
    }

    #home-article-image {
        max-width: 100%;
        padding-top: 2rem;
    }

    #home-article-title {
        padding-top: 1.8rem;
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
        color: #FFD400;
        text-align: left;
        margin: 0;
    }

    #home-article-body {
        display: grid;
        grid-row: 2/3;
        grid-column: 2/3;
        padding-top: 2.5rem;
    }

    #my-content {
        display: grid;
        grid-template-columns: 65% 30%;
        gap: 2rem;
    }

    

    #cal-title {
        text-align: center;
    }
}