@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #ECECEC;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Titillium Web', sans-serif;
}

/* phone or baseline views **************************/
header {
    background-color: #203354;
    display: grid;
    grid-template-columns: 100px 1fr;
}

.title {
    font-size: 2.5rem;
    color: #fff;
    text-align: left;
    margin-top: 35px;
    grid-column: 2/3;
    grid-row: 1/2;
}

#motto {
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    margin-top: 80px;
    padding-left: 3px;
    color: #FFD400;
}

header,
nav {
    max-width: 100%;
    margin: 0 auto;
}

main {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
    color: #203354;
}

p {
    margin: 10px;
    padding-bottom: 20px;
}

#image-logo {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.active {
    color: #FFD400;
}

h2 {
    margin: 10px;
    padding-top: 20px;
    color: #436CB1
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #203354;
    padding: 10px;
    color: white;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
/* Small/Phone View ***************/

nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #436CB1;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	text-align: center;
	text-decoration: none;
    color: white;
    padding: .8rem;
}

.navigation a:hover {
    background-color: #FFD400;
    color: #203354;
}

.responsive li {
	display: block;
}

#hero-img {
    max-width: 100%;
    padding: 5px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.summary-title {
    color: white;
    margin: 0 auto;
    margin-top: -20px;
    text-align: left;
}

.table-keys {
    color: white;
    margin: 0 auto;
    text-align: right;
}

.table-values {
    color: #FFD400;
    padding-left: 10px;
}

.weather-overlay {
    background: radial-gradient(#436CB1, #203354);
	border: 1px solid #000;
	padding: 1rem;
	box-shadow: 0 0 30px #111;
    opacity: .8; 
    width: 97%;
    margin-left: 5px;
}

.forecast-title {
    text-align: center;
}

#forecast-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px auto 20px;
    width: 100%;
    padding: 5px;
}

#day-1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-size: 18px;
}

#sun-1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 5px;
}

#temp-1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    margin: 0;
}

#day-2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-size: 18px;
}

#sun-2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 5px;
}

#temp-2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    margin: 0;
}

#day-3 {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-size: 18px;
}

#sun-3 {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 5px;
}

#temp-3 {
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    margin: 0;
}

